<%- include('../partials/header') %>

<% users.forEach(function(u) { %>

<div class="ui items users-items">
    <div class="item">
        <div class="ui circular image google-avatar">
            <img src=<%= u.avatar %>>
        </div>
        <div class="content">
            <a class="header" href="/users/<%= u._id %>"><%= u.name %></a>
            <div class="meta users-threads">
                <span>Threads</span>
            </div>
            <div class="description">
                <span><%= u.thread %></span>
            </div>
            <div class="extra">
                <!-- have an ai api put something here -->
            </div>
        </div>
    </div>
</div>

<% }); %>

<%- include('../partials/footer') %>